/* TICKER  */
.ticker {
  overflow: hidden;
}

.scroll {
  display: flex;
}

.ticker_item {
  font-family: monospace; /* this is just for good looks */
  color: #000;
  font-size: 4.7em;
  background: #fff;
  white-space: nowrap;
  font-weight: 1000;
  text-transform: uppercase;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
}

#ticker_1 {
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
}

@-webkit-keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
#ticker_2 {
  -webkit-animation: animate2 15s linear infinite;
          animation: animate2 15s linear infinite;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
}

@-webkit-keyframes animate2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(100%);
  }
}
.ticker_item span {
  -webkit-text-stroke: 5px #418493;
  color: transparent;
}

#first_ticker {
  width: 100%;
  position: absolute;
  top: 0;
}

#second_ticker {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main {
  position: absolute;
  height: 100%;
  display: table;
}

.col {
  display: table-cell;
  vertical-align: middle;
}

.btn {
  height: 65px;
  font-size: 20px;
}

#dollar {
  margin-right: 65%;
  float: left;
}

#ruble {
  float: right;
}

@media (min-width: 800px) {
  /* swipe btn */
  html,
body {
    height: 100%;
    overflow: hidden;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #button-background {
    position: relative;
    background-color: #cbcbcb;
    width: 400px;
    height: 80px;
    border: rgb(34, 34, 34);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #slider {
    transition: width 0.3s, border-radius 0.3s, height 0.3s;
    position: absolute;
    left: -10px;
    background-color: rgb(60, 60, 60);
    width: 80px;
    height: 82px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #slider.unlocked {
    transition: all 0.3s;
    width: inherit;
    left: 0 !important;
    height: inherit;
    border-radius: inherit;
  }
  .material-icons {
    color: black;
    font-size: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  .slide-text {
    color: rgba(38, 38, 38, 0.494);
    font-size: 30px;
    text-transform: uppercase;
    font-family: monospace, "Roboto", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  #locker {
    margin: auto;
    font-family: monospace;
    color: white;
    font-size: 1em;
  }
  .sign {
    font-family: monospace; /* this is just for good looks */
    font-size: 6em;
    font-weight: 1000;
    text-align: center;
  }
}
@media (max-width: 800px) {
  /* swipe btn */
  html,
body {
    height: 100%;
    overflow: hidden;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #button-background {
    position: relative;
    background-color: #cbcbcb;
    width: 200px;
    height: 40px;
    border: rgb(34, 34, 34);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #slider {
    transition: width 0.3s, border-radius 0.3s, height 0.3s;
    position: absolute;
    left: -10px;
    background-color: rgb(60, 60, 60);
    width: 40px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #slider.unlocked {
    transition: all 0.3s;
    width: inherit;
    left: 0 !important;
    height: inherit;
    border-radius: inherit;
  }
  .material-icons {
    color: black;
    font-size: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  .slide-text {
    color: rgba(38, 38, 38, 0.494);
    font-size: 15px;
    text-transform: uppercase;
    font-family: monospace, "Roboto", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  #locker {
    margin: auto;
    font-family: monospace;
    color: white;
    font-size: 0.8em;
  }
  .sign {
    font-family: monospace; /* this is just for good looks */
    font-size: 3em;
    font-weight: 1000;
    text-align: center;
  }
}/*# sourceMappingURL=styles_for_root.css.map */